<div class="container">
    <h1>Angular Editor</h1>

    <div [formGroup]="sensForm">
        <h3>Enter app specific data</h3>
        <label for="imageServerUrlLabel">Enter image server url: </label>
        <input id="imageServerUrlLabel" type="text" formControlName="imageServerUrl">
        <br>
        <br>
        <label for="extensionsApiUrl">Extensions API url: </label>
        <input id="extensionsApiUrl" type="text" formControlName="extensionsApiUrl">
    </div>
    <br>
    <br>

    <form [formGroup]="form">
        <angular-editor id="editor1" formControlName="html"
                        [config]="config1" (ngModelChange)="onChange()"
                        (blur)="onBlur()"
                        (ftpNeeded)="onFtpNeeded($event)"
                        [ftpLink]="selectedFtpLink"
                        (customButtonClicked)="onCustomButtonClicked($event)"
        >
        </angular-editor>
    </form>
    <p>
        Form Value: {{ form.value.html }}
    </p>
    <p>
        Form Status: {{ form.status }}
    </p>

    <angular-editor autofocus="true" id="editor2" [(ngModel)]="htmlContent2"
                    [config]="config2" (ngModelChange)="onChange2()"
                    (ftpNeeded)="onFtpNeeded2($event)"
                    [ftpLinkCk]="selectedFtpLinkOldStyle"
                    (customButtonClicked)="onCustomButtonClicked($event)"
    >
    </angular-editor>

    <br>
    <br>
    <br>
</div>

