<div class="container">
    <h1>Angular Editor</h1>

    <div [formGroup]="sensForm">
        <h3>Enter app specific data</h3>
        <label for="imageServerUrlLabel">Enter image server url</label>
        <input id="imageServerUrlLabel" type="text" formControlName="imageServerUrl">
    </div>
    <br>
    <br>

    <label for="test_input">Test input </label>
    <input id="test_input">
    <br><br>
    <form [formGroup]="form">
        <angular-editor id="editor1" formControlName="signature"
                        [config]="config1" (ngModelChange)="onChange($event)"
                        (blur)="onBlur($event)"
                        (ftpNeeded)="onFtpNeeded($event)"
                        [ftpLink]="selectedFtpLink"
        >
        </angular-editor>
    </form>
    <p class="html">
        HTML Output:  {{ htmlContent1 }}
    </p>

    <p>
        Form Value: {{ form.value.signature }}
    </p>
    <p>
        Form Status: {{ form.status }}
    </p>

<!--    <angular-editor autofocus="true" id="editor2" [(ngModel)]="htmlContent2"-->
<!--                    [config]="config2" (ngModelChange)="onChange2($event)"-->
<!--                    (ftpNeeded)="onFtpNeeded($event)"-->
<!--                    [ftpLink]="selectedFtpLink"-->
<!--    >-->
<!--    </angular-editor>-->

</div>

