/* You can add global styles to this file, and also import other style files */

.container {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    border-collapse: collapse;
}

table td {
    padding: 6px;
}

.table-bordered td {
    border: solid black 1px;
}
